<!DOCTYPE html>
<html>
<head>
    <% include partials/head %>
</head>
<body>
    <% include partials/nav %>
    <div class="container">
        <h1 class="header">Guitar Inventory</h1>

        <% if ( isAuthenticated ) { %>
            <p>Welcome back <%= user.name %>!</p>
            <a class="btn" href="/guitars"><i class="material-icons right">arrow_forward</i>View inventory</a>
        <% } else { %>
            <a class="btn" href="/guitars"><i class="material-icons right">arrow_forward</i>Get started!</a>
        <% } %>

    </div>
    <% include partials/footer %>
</body>
</html>